section.production(id="production" data-seotitle="CTM GROUP Business units" data-seourl="production.html" data-seodescription="TM GROUP Business units" data-seokeywords="TM GROUP Business units")
    .container
        .row
            .col-md-12
                h1.page-title__name.decor-line
                    span.wow.fadeInLeft.animated(data-wow-delay="0.5s") Our production
    .wow.fadeInUp.animated(data-wow-delay="0.5s")
        .container
            .row
                .col-12
                    .subtitle.wow.fadeInLeft.animated(data-wow-delay="0.5s")
                        h3.subtitle__title Film scanner PERENITY 5K
                        p.subtitle__text.
                            ALL IN ONE! Multi format film scanner for 8/S8, 9.5, 16/S16, 35/S35mm, HD / 2K / 4K / 5K

    section.section-wrap
        .container
            .row
                .col-7.col-md-12
                    .section-wrap__img.wow.fadeInLeft.animated(data-wow-delay="0.5s")
                        img(src='assets/images/content/production-photo.jpg')
                .col-5.col-md-12
                    .section-wrap__description.f-row.f-align-center.wow.fadeInRight.animated(data-wow-delay="0.5s")
                        span.section-wrap__description--text
                            span.section-wrap__plusLine.section-wrap__plusLine--topLeft
                            | Designed especially to treat the archive materials. the perenity perfectly combines the rendering quality, speed of execution and preservation of materials not to mention the ease of use.
                            span.section-wrap__plusLine.section-wrap__plusLine--centerRight




- var text = 'PERENITY scan any type of 8 to 35mm film. 6 exchangeable film gates: 8/S8 – 9.5mm – 16/S16mm – 17.5mm – 28mm – 35/S35 mm. With a continuous motion capstan drive system, tension regulation is variable and smooth, with two tension arms electronically controlled by a potentiometer to protect your film. It can handle with any type of damaged films and it can perfectly operate with a large amount of missing or damaged perforations.';


    section.prTabs
        .container
            .row
                .col-4.col-md-12
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/tab-1.png')
                                .prTab__text.
                                    Dedicated for archive materials

                        .prTab__content= text

                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/tab-4.png')
                                .prTab__text.
                                    Picture Stabilization Algorithm (PSA®)

                        .prTab__content= text

                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/tab-7.png')
                                .prTab__text.
                                    High-power LED sphere

                        .prTab__content= text

                .col-4.col-md-12
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/tab-2.png')
                                .prTab__text.
                                    Ballistic Following Scanning (BFS®) vs standard flash capture

                        .prTab__content= text
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/tab-5.png')
                                .prTab__text.
                                    Color Correction station KOLIBRI® 4.0

                        .prTab__content= text

                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/tab-8.png')
                                .prTab__text.
                                    New Progressive camera with 5K sensor (5120x3840)

                        .prTab__content= text
                .col-4.col-md-12
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/tab-3.png')
                                .prTab__text
                                     |Laser
                                     br
                                     |Detection

                        .prTab__content= text
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/tab-6.png')
                                .prTab__text.
                                    High Dynamic Range scanning

                        .prTab__content= text
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/tab-9.png')
                                .prTab__text.
                                    Restoration Tools for digital restoration

                        .prTab__content= text


