section.production(id="production-2" data-seotitle="CTM GROUP Business units" data-seourl="production.html" data-seodescription="TM GROUP Business units" data-seokeywords="TM GROUP Business units")
    .container
            .row
                .col-12
                    .subtitle
                        h3.subtitle__title.subtitle__title--table  Viewing table + Scanner PERFECTA
                        p.subtitle__text.
                            ALL IN ONE! Multi format: 8/S8, 9.5, 16/S16, 17,5, 28, 35/S35 mm — HD / 2K / 4K

    section.section-wrap.section-wrap--bg2
        .container
            .row
                .col-7.col-md-12
                    .section-wrap__img.wow.fadeInLeft.animated(data-wow-delay="0.5s")
                        img(src='assets/images/content/production-photo2.jpg')
                .col-5.col-md-12
                    .section-wrap__description.f-row.f-align-center.wow.fadeInRight.animated(data-wow-delay="0.5s")
                        span.section-wrap__description--text.section-wrap__description--textTable
                            span.section-wrap__plusLine.section-wrap__plusLine--topLeft
                            | Perfecta is designed to handle archival films while significantly simplifying the operators' work.
                            span.section-wrap__plusLine.section-wrap__plusLine--bottomRight




- var text = 'PERENITY scan any type of 8 to 35mm film. 6 exchangeable film gates: 8/S8 – 9.5mm – 16/S16mm – 17.5mm – 28mm – 35/S35 mm. With a continuous motion capstan drive system, tension regulation is variable and smooth, with two tension arms electronically controlled by a potentiometer to protect your film. It can handle with any type of damaged films and it can perfectly operate with a large amount of missing or damaged perforations.';


    section.prTabs
        .container
            .row
                .col-4.col-md-12
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-1.png')
                                .prTab__text.
                                    Technical 
                                    characteristic

                        .prTab__content= text

                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-2.png')
                                .prTab__text.
                                    Sounds

                        .prTab__content= text

                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-3.png')
                                .prTab__text
                                    |Laser
                                    br
                                    |Detection

                        .prTab__content= text

                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-4.png')
                                .prTab__text
                                    |Color
                                    br
                                    |Correction

                        .prTab__content= text
                .col-4.col-md-12
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-5.png')
                                .prTab__text.
                                    Designed for
                                    archival film

                        .prTab__content= text
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-6.png')
                                .prTab__text.
                                    Film transport

                        .prTab__content= text

                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-7.png')
                                .prTab__text.
                                    Picture
                                    Stabilization
                                    Algorithm (PSA®)

                        .prTab__content= text

                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-8.png')
                                .prTab__text.
                                    Viewing

                        .prTab__content= text

                .col-4.col-md-12
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-9.png')
                                .prTab__text.
                                    Film inspection
                                    at a stop position

                        .prTab__content= text
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-10.png')
                                .prTab__text.
                                    Image gate

                        .prTab__content= text
                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-11.png')
                                .prTab__text
                                    |LED light
                                    br
                                    |source

                        .prTab__content= text

                    .prTab.wow.fadeInUp.animated(data-wow-delay="0.5s")
                        .prTab__btn
                            .f-row.f-align-center.prTab__height
                                .prTab__img
                                    img(src='assets/images/content/production/table/img-12.png')
                                .prTab__text.
                                    Storage

                        .prTab__content= text
